<%- include ("./partials/header.ejs") %>
<%- include ("./partials/homenavbar.ejs") %>
<body>
    <div class = "container mt-4">
    
            <div class="jumbotron">
                <h1 class="display-4">Bem vindos a plataforma de envios<br> Arduino chellange!</h1>
                <p class="lead">Aqui serão feitos os envios de missões durante as competições.</p>
                <hr class="my-4">
                <p>Se voce irá participar, e ainda nao cadastrou sua equipe, registre-a no botão abaixo</p>
                <a class="btn btn-primary btn-lg" href="/cadastro" role="button">Cadastro</a>
            </div>
                
                </div>
</body>

<%- include ("./partials/footer.ejs") %>