<%- include ("../partials/header.ejs") %>
<%- include ("../partials/homenavbar.ejs") %>

<body>
    <div class="jumbotron justify-contet-center" style="margin-bottom:0px; border-radius: 0; padding: 5px;">
    
        <div class="container card mt-3 mb-5">
            
        <div class="card m-3">
            <div class="row no-gutters">
              <div class="col-md-4"  style="max-height:700px; height: 400px; min-width: 30%;">
                <img src="/img/velociraptor.jpg" class="card-img" style="height: 100%;">
              </div>
              <div class="col-md-8" style=" height: 100%;">
                <div class="card-body">
                  <h3 class="card-title"><b>Velociraptor</b> </h3>
                  <p class="card-text"><b>Comprimento:</b> de 1,5 a 2 metros
                    <br>
                    <b>Altura:</b> por volta de 75 cm
                    <br>
                    <b>Peso:</b> em média 90 quilos
                    <br>
                    <b>Cor:</b> marrom
                    <br>
                    <b>Velocidade:</b> conseguiam atingir 100 km/h <br>
                    <b>Caracteristicas:</b> <br>
                    - Caçava em grupo de forma organizada. <br>
                    - O velociraptor é considerado um dos mais inteligentes dinossauros. <br>
                    - Era rápido, ágil e possuía ótima visão, além de um forte maxilar. <br>
                    -  Possuía mãos com garras fortes em formato de foice. Estas garras podiam medir de 6 a 10 cm, que facilitavam no momento da caça. <br>
                    - As caudas dos velociraptors eram longas e duras. Davam sustentação ao animal quando corriam.<br>
                    </p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
    
    </div>


</body>


  
<%- include ("../partials/footer.ejs") %>