<%- include ("../partials/header.ejs") %>
<%- include ("../partials/navbar.ejs") %>
<body>
    <div class = "container mt-4">
    
            <div class="jumbotron">
                <h1 class="display-4">Bem vindos a plataforma de envios<br> Arduino chellange!</h1>
                <p class="lead">Aqui serão feitos os envios de missões durante as competições.</p>
                <hr class="my-4">
                <br>
                <div class="container mt-2">
                    
                     <div class="card">
                        <div class="card-header">
                            As regras da competição são:
                        </div>
                        <div class="card-body">
                            <p>1 – Para se tornar um finalista, vocês seguirão 6 etapas chamadas de missões;</p><br>
                            <p>2 – Cada missão tem um objetivo e uma pontuação;</p><br>
                            <p>3 – Ao finalizar uma missão você receberá uma pontuação específica;</p><br>
                            <p>4 – Ganha o desafio quem acumular a maior pontuação possível dentro do tempo préestabelecido.</p><br>
                            <p>5 – Caso uma equipe seja pega plagiando o código de programação uma da outra, a equipe que permitir o acontecido será penalizada em 150 pontos e a equipe que realizou a cópia será automaticamente desclassificada;</p><br>
                            <p>6 - Quanto a pontuação nas missões:                                             
                                    <br>    Missão 01 - 100 pontos;
                                    <br>    Missão 02 - 110 pontos;
                                    <br>    Missão 03 - 120 pontos;
                                    <br>    Missão 04 - 130 pontos;
                                    <br>    Missão 05 – 140 pontos;
                                    <br>    Missão 06 - 150 pontos;</p><br>
                            <p>7 - Quanto a pontuação recebida por missão, está terá o valor dos pontos da missão menos a posição que voce terminou a missão multiplicado por 5.</p><br>
                            <p>8 - Em caso de empate na pontuação final, o critério de avaliação será o tempo. A equipe que terminou em menor tempo a missão 06, será a vencedora da competição.</p><br>
                        </div>
                        </div>
                </div>
                
            </div>
            
    </div>
</body>

<%- include ("../partials/footer.ejs") %>